
#texto{
	height: 300px;
	background-color: #EF7022;
	position: relative;
}
h1 {
    color: white;
    position: relative;
    width: 20px;
    top: 90px;
}
h2 {
	color:white;
	font-size: 20px;
}
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
/*
.fab {
	font-size: 180px;
    color: 25d366;
    position: relative;
    left: 300px;
    top: 100px;
}
